<%- include('partials/header'); %>
<h1 class="h1">home</h1>
<p><%= homeContent %> </p>

<%  posts.forEach( post => { %>
        <h1 class="h1">
        <%= post.postTitle %>
        </h1>
        <p>
            <%= post.postBody %> 
        </p>
<% }); %>  

<%- include('partials/footer'); %>